<%
ig = profile.selected_image_generation
frame_color = ig&.color&.oklch_css || TailwindColor.mist(600).oklch_css
name = [profile.first_name, profile.last_name].compact_blank.join(" ")
%>
<div style="--frame-color: <%= frame_color %>" class="block rounded-lg overflow-hidden shadow-md hover:shadow-lg transition bg-(--frame-color) text-white">
  <%= link_to public_profile_path(profile), class: "relative block aspect-square bg-white text-(--frame-color)" do %>
    <svg xmlns="http://www.w3.org/2000/svg" width="290" height="290" fill="none" class="absolute left-0 top-0 w-full h-full z-10 pointer-events-none text-(--frame-color)" viewBox="0 0 290 290"><use href="#frame_square"/></svg>
    <div class="absolute left-[7%] top-[7%] w-[86%] h-[88%] z-0">
      <div class="absolute aspect-square top-2 bottom-10 h-auto left-1/2 -translate-x-1/2">
        <% if ig&.cropped&.attached? %>
          <%= image_tag rails_representation_path(ig.cropped.variant(:card)), class: "absolute w-full h-full top-0 left-0 object-contain object-bottom", alt: ig.title %>
        <% end %>
      </div>
      <div class="pb-2 absolute left-0 w-full bottom-0 text-center text-xl font-serif">
        <%= ig&.job %>
      </div>
    </div>
  <% end %>
  <div class="flex items-center gap-3 pt-2 pb-3 px-[6.5%]">
    <% if profile.show_photo && profile.reference_photo.attached? %>
      <%= image_tag profile.reference_photo.variant(resize_to_fill: [96, 96]), class: "w-14 h-14 rounded-full object-cover ring-2 ring-white shrink-0", alt: "" %>
    <% end %>
    <div class="min-w-0">
      <p class="font-medium text-xl leading-tight truncate"><%= name %></p>
      <div class="flex gap-1 mt-0.5">
        <% profile.social_links.each do |link, href| %>
          <%= link_to(href, title: link.label, target: "_blank", class: "text-white opacity-80 hover:opacity-100") { phosphor_icon(*link.icon(class: "w-5 h-5")) } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
