<% if villager.errors.any? %>
  <div class="mb-4 p-3 rounded bg-red-100 text-red-800">
    <ul>
      <% villager.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: villager, url: villager.persisted? ? town_hall_villager_path(villager) : town_hall_villagers_path, class: "space-y-4" do |f| %>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">First Name</legend>
    <%= f.text_field :first_name, required: true, class: "input" %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Last Name</legend>
    <%= f.text_field :last_name, required: true, class: "input" %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Email</legend>
    <%= f.email_field :email, required: true, class: "input" %>
  </fieldset>

  <div class="flex gap-2">
    <%= f.submit class: "btn bg-indigo-600 text-white hover:bg-indigo-700" %>
    <%= link_to "Cancel", town_hall_villagers_path, class: "btn btn-ghost" %>
  </div>
<% end %>
